<div class="post">
  <article class="card postCard">
    <div class="card-header flex-row justify-space-between">
      <h2>{{thisPost.title}}</h2>
      <div>
        {{thisPost.user.userName}}, 
        {{formatDate thisPost.createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{thisPost.content}}
    </div>
  </article>

  {{#if thisPost.comments}}
    {{#each thisPost.comments}}
      <section class="card commentCard">
        <div class="card-header">
          {{user.userName}}, {{formatDate createdAt}}
        </div>

        <div class="card-body">
          <div>
            <p>
              {{content}}
            </p>
          </div>
        </div>
      </section>
    {{/each}}
  {{/if}}

  {{#if loggedIn}}
   <form id="commentForm" class="card formCard">
      <div class="card-header">
        Add New Comment
      </div>

      <div class="card-body">
        <input type="hidden" name="post-id" id="postId" value="{{thisPost.id}}" />
        <textarea name="commentBody" id="commentContent" placeholder="Write your comment here" class="form-control"></textarea>
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
  {{/if}}
</div>

<script src="/js/comment.js"></script>